(function( S ){

    // 获取当前的包路径
    var scripts = document.getElementsByTagName("script");
    var currentScriptPath = scripts[ scripts.length -1 ].src;
    var packageName = '{{packageName}}';
    var packagePathArr = currentScriptPath.split( '/' );
    var packagePath;
    var mainModPath;

    // 若为IE，则会取相对地址...因此根据当前页面构造
    if( S.UA.ie <= 7 && currentScriptPath.indexOf( 'http://' ) < 0 ){
        var pageUrl = location.href;
        var pageUrlArr = pageUrl.split( '/');
        pageUrlArr.pop();

        S.each( packagePathArr, function( pkgSeg ){
            if( pkgSeg == '..' ){
                pageUrlArr.pop();
            }
            else if( pkgSeg != '.' ){
                pageUrlArr.push( pkgSeg );
            }
        });

        packagePathArr = pageUrlArr;
    }

    S.each( packagePathArr, function( pathSeg, index ){
        if( packagePath === undefined && pathSeg == packageName ){
            packagePath = packagePathArr.slice( 0, index).join( '/' );
            mainModPath = packageName + '/' + packagePathArr.slice( index + 1 ).join( '/' );
        }
    });

    // 包配置
    S.config({
        packages:[
            {
                name: packageName, // 包名
                tag:"20120814", // 动态加载包内的模块js文件时,
                // 自动加上 ?t=20110323, 用于文件更新
                path: packagePath,
                charset:"gbk" // 包里模块文件编码格式
            }
        ]
    });

})(KISSY);
